<h1>Contact List:</h1>
<form action="/Contact" method="post">
  <label for="new-Contact">Contact Description:</label>
  <input id="new-Contact" name="new-Contact" type="text">
  <button type="submit">Submit</button>
</form>
